<%= form_for(@post_vote) do |f| %>
  <% if @post_vote.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post_vote.errors.count, "error") %> prohibited this post_vote from being saved:</h2>

      <ul>
      <% @post_vote.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
