<h1>Home#inbox</h1>
<p>Find me in app/views/home/inbox.html.erb</p>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Image url</th>
      <th colspan="6"></th>
    </tr>
  </thead>

  <tbody>

    <% 3.times do  %>
      <tr>
        <td>post.title</td>
        <td>post.description</td>
        <td>post.image_url</td>
      </tr>
    <% end %>
  </tbody>
</table>