<head>
<style>
th, td {
  padding: 10px;
}
</style>
</head>
<h1>Inbox</h1>

<% @post_votes.each do |post_vote| %>
<div class="col-xs-12 col-md-6">
  <h3><%= post_vote.post.title %></h3>
  <div class="well">
    <%= link_to (image_tag post_vote.post.image.url(:thumb), :class => 'img-responsive'), edit_post_vote_path(post_vote) %>
    <%= post_vote.post.description %>
  </div>
</div>
<% end %>

<% if @post_votes.empty? %>
  <h4>Your inbox is empty.</h4>
<% end %>

<br>