<h1>Home#inbox</h1>
<p>Find me in app/views/home/inbox.html.erb</p>
<table>
  <thead>
    <tr>
      <th>Post Title</th>
      <th>Image</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @post_votes.each do |post_vote| %>
      <tr>
        <td><%= post_vote.post.title %></td>
        <td><%= image_tag post_vote.post.image.url(:thumb) %></td>
        <td><%= link_to 'Vote', edit_post_vote_path(post_vote) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>